<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="constr" value="Provider=SQLOLEDB;Data Source=192.169.1.228\SQL2012EXP;Initial Catalog=SampleDB_EF;User id=dbconnect;Password=db@connect" />
    <add key="currency_service" value="http://192.169.5.138/Stu_Ser/clsDataInterface.asmx?op=fncurrency"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="clsDataAccessServicesSoap" />
        <binding name="clsDataInterfaceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.169.1.228/ERP_SER/clsDataAccessServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="clsDataAccessServicesSoap"
        contract="ServiceReference1.clsDataAccessServicesSoap" name="clsDataAccessServicesSoap" />
      <endpoint address="http://192.169.5.138/ERP_SER/clsDataInterface.asmx"
        binding="basicHttpBinding" bindingConfiguration="clsDataInterfaceSoap"
        contract="ServiceReference2.clsDataInterfaceSoap" name="clsDataInterfaceSoap" />
    </client>
  </system.serviceModel>
</configuration>